<div class='zag1'>
    Аналитика: продажи
</div>
<div class='pzag'>
    На этом этапе вы получите рекомендации о том что надо в меню заменить, наценить или попытаться повысить спрос. Четкие рекомендации. Никакой воды.<br>
    Скачайте шаблон и вставьте в него данные о продажах ваших блюд.
</div>

<div class='new_str center float'>
    <div class=''>
        Введите период за который вы загружаете данные
    </div>
</div>
{{ form_start(form,{'attr': {'id': 'analitics'}}) }}
<div class="new_str">
    <div class='name_input'>
        Введитеназвание отчета
    </div>
    {{ form_widget(form.name, {'attr': {'class': 'input_medium'}}) }}

</div>
<div class='new_str'>
    <div class='float '>

        <div class='name_input'>
            Начало периода
        </div>
        <div>
            {{ form_widget(form.date_start, {'attr': {'class': 'input_min date'}}) }}

        </div>

    </div>

    <div class='float st_pad'>
        <div class='name_input'>
            Конец периода
        </div>
        <div>
            {{ form_widget(form.date_finish, {'attr': {'class': 'input_min date'}}) }}
        </div>
    </div>
    <div class='help'></div>
</div>

<div class='buton' onclick="document.getElementById('analitics').submit(); return false;" id='button'>
    Bon voyage
</div>
{{ form_end(form) }}
<div class='advice' id='advice'>
    <div class='close'>
    </div>
    <div class='zag_advice'>
        <span class='red'>!</span> Совет
    </div>
    <div>
        <p>
            Вы добавили в дегустацию уже больше 15 блюд.
            По нашему опыту это не самая лучшая идея.
        </p>
        <p>
            Во-первых на каждое блюдо у вас уйдет в лучшем случае около 5-7 минут. То есть порядка 1,5-2 часов.
        </p>
        <p>
            А во-вторых ваши возможности организма не безграничны.
            Больше 15 блюд попробовать даже по чуть-чуть за один раз очень тяжело
            чисто физически, поэтому все остальные блюда скорее
            всего получат либо не обьективную оценку либо
        </p>
    </div>
</div>