{% extends 'base.html.twig' %}

{% block title %}Analitics index{% endblock %}

{% block body %}
    <h1>Analitics index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date_create</th>
                <th>Date_start</th>
                <th>Date_finish</th>
                <th>Hash</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for analitic in analitics %}
            <tr>
                <td>{{ analitic.id }}</td>
                <td>{{ analitic.name }}</td>
                <td>{{ analitic.dateCreate ? analitic.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ analitic.dateStart ? analitic.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ analitic.dateFinish ? analitic.dateFinish|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ analitic.hash }}</td>
                <td>
                    <a href="{{ path('analitics_show', {'id': analitic.id}) }}">show</a>
                    <a href="{{ path('analitics_edit', {'id': analitic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('analitics_new') }}">Create new</a>
{% endblock %}
