{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    {{ encore_entry_link_tags('project_create') }}
    {{ parent() }}
{% endblock %}
 {% block headjs %}
     {{ parent() }}

     {#<script src="ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}r
     {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js" ></script >#}
     {#<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script >#}
     <script src="https://unpkg.com/axios/dist/axios.min.js" ></script >
     {#<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js" ></script >#}
     <script src="https://unpkg.com/vue-multiselect@2.1.0" ></script >
     <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css" >
     <script >
         window.app_state = JSON.parse('{{ app_state|raw }}');

     </script >

 {% endblock %}
{% block body %}


    <div class='zag1'>
        Создание нового проекта
    </div>
    <div class='pzag'>
        Добро пожаловать! Вы на правильном пути, дорогой друг) После завершения этого квеста вы узнаете как в идеальном виде
        должна строится работа
        по разработке меню ресторана, а так же прокачаете свою команду или подберете новую.<br>
        Ну приступим.
    </div>

    <div id="new-project">
        <project-edit
                :choosed_departments="choosed_departments"
                :app_state="app_state"
                :categories="categories"
                :chosen_category="chosen_category"
                :project="project"
                :all_user="all_user"
        >
        </project-edit>
    </div>

{% endblock %}
{% block tailjs %}
    {{ encore_entry_script_tags('project_create') }}
    <script >

    </script >

{% endblock %}
