{% extends 'base.html.twig' %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    {{ encore_entry_link_tags('project_list') }}
    {{ parent() }}
{% endblock %}
 {% block headjs %}
     {{ parent() }}


     <script src="https://unpkg.com/axios/dist/axios.min.js" ></script >
     <script src="https://unpkg.com/vue-multiselect@2.1.0" ></script >
     <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css" >
     <script >
         window.app_state = JSON.parse('{{ app_state|raw }}');

     </script >

 {% endblock %}
{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Project_name</th>
                <td>{{ project.projectName }}</td>
            </tr>
            <tr>
                <th>Company_id</th>
                <td>{{ project.companyId }}</td>
            </tr>
            <tr>
                <th>Kitchen_type</th>
                <td>{{ project.kitchenType }}</td>
            </tr>
            <tr>
                <th>Type_menu</th>
                <td>{{ project.typeMenu }}</td>
            </tr>
            <tr>
                <th>Old_menu_id</th>
                <td>{{ project.oldMenuId }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ project.dateCreate ? project.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hash</th>
                <td>{{ project.hash }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
