{% extends 'work.html.twig' %}

{% block title %}Сводные данные{% endblock %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/manual.css') }}" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css" >
    {{ encore_entry_link_tags('summary') }}
    {{ parent() }}
{% endblock %}
 {% block headjs %}
     {{ parent() }}


     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js" ></script >
     <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=zdf8cmj1zltd2sgzkhwl1zqfael594fvdn1wmnj5r4fsl8cw" ></script >

     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


     <script >
         window.app_state = JSON.parse('{{ app_state|raw }}');

     </script >

 {% endblock %}
{% block body %}
<div class='zag1' >
    Сводные данные
</div >
{#<div class="controlgroup new_str" >#}
    {#<label for="transmission-standard" >Таблица</label >#}
    {#<input type="radio" name="transmission" onclick='king_view(1)' checked id="transmission-standard" >#}
    {#<!--<label for="transmission-automatic">Лента</label>#}
    {#<input type="radio" name="transmission" id="transmission-automatic">-->#}
    {#<label for="insurance" >Дашбоард</label >#}
    {#<input type="radio" name="transmission" onclick='king_view(2)' id="insurance" >#}
    {#<div class='help' ></div >#}
{#</div >#}
<div >

    <div class='pzag new_str' >
        На этой странице отображается сводная таблица вашего нового меню.
        Скорее всего пока тут мало данных, но в процессе прохождения этапов данные будут заполнятся.
    </div >

    <div id="summary" >
        <div class="my-2">

            <b-button
                    v-for="(category_item, idx) in upcategories"
                    class="ml-1 mt-1"
                    size="sm"
                    :pressed.sync="category_item.id == product_category_type"
                    active-class="primary"
                    variant="outline-secondary"
                    @click="changeUpCategory(category_item.id)"
            >
                $[ category_item.name ]
            </b-button>
            <div> Категории</div>
            <b-button
                    v-for="(category, idx) in categoryType"
                    class="ml-1 mt-1"
                    size="sm"
                    :pressed.sync="category.id == selected_category"
                    active-class="primary"
                    variant="outline-secondary"
                    @click="changeCategory(category.id)"
            >
                $[ category.name ]
            </b-button>
            <b-spinner small v-show="loading" type="grow" ></b-spinner >
        </div>
        <summary-table
        :products="products"
        :project_id="project_id"
        :loading="loading"
        :selected_category="selected_category"
        :product_category_type="product_category_type"
        >
        </summary-table>
    </div>




    {% endblock %}
{% block tailjs %}
    {{ encore_entry_script_tags('summary') }}
    <script >


    </script >

{% endblock %}